# CORS Settings
ALLOWED_ORIGINS=http://localhost:5173 # comma-separated list of allowed origins

# Langfuse Configuration
LANGFUSE_SECRET_KEY="sk-something" # acquired from LangFuse
LANGFUSE_PUBLIC_KEY="pk-something" # acquired from LangFuse
LANGFUSE_HOST="https://your.langfuse.host"
LANGFUSE_LABEL="dev" # or custom label
LANGFUSE_TRACING_ENVIRONMENT="local" # or custom name

# LLM Services
SCADS_API_KEY=your_api_key # acquired from ScaDS
KISSKI_API_KEY=your_api_key # acquired from KISSKI/SAIA
GOOGLE_API_KEY=your_google_api_key # acquired from Google Cloud
OLLAMA_URL="http://localhost:11434" # URL for the Ollama server, e.g., http://localhost:11434

LITELLM_KEY="sk-something" # acquired from LiteLLM
LITELLM_URL="https://your.litellm.host"

# Database
DATABASE_URL="postgresql://postgres:admin@localhost:5432/metis" # connection string for the database
DATABASE_URL_DRIVER="postgresql+psycopg://postgres:admin@localhost:5432/metis" # driver connection string for the vector store

# OIDC
FRONTEND_SERVICE = "http://localhost:5173"  # Frontend URL for redirects after OAuth login

OIDC_CLIENT_ID="oidc-client-id"
OIDC_CLIENT_SECRET="oidc-client-secret"
OIDC_SERVER_URL=https://oidc.provider.url
OIDC_REALM=metis
OIDC_ISSUER_URL="${OIDC_SERVER_URL}/realms/${OIDC_REALM}"
OIDC_REDIRECT_URL="http://localhost:8000/auth/authenticate"  # Backend URL for OAuth redirects

# Other Settings
ADMIN_KEY="admin" # the password for admin dashboard
ENVIRONMENT="development" # or production