SCADS_API_KEY=your_api_key # acquired from ScaDS
KISSKI_API_KEY=your_api_key # acquired from KISSKI/SAIA
ALLOWED_ORIGINS=http://localhost:5173,http://example.com # comma-separated list of allowed origins
LANGFUSE_SECRET_KEY="sk-something" # acquired from LangFuse
LANGFUSE_PUBLIC_KEY="pk-something" # acquired from LangFuse
LANGFUSE_HOST="https://your.langfuse.host"
LANGFUSE_TRACING_ENVIRONMENT="local" # or custom name
LITELLM_KEY="sk-something" # acquired from LiteLLM
LITELLM_URL="https://your.litellm.host"
ADMIN_KEY="admin" # the password for admin dashboard
ENVIRONMENT="development" # or production