accelerate==0.33.0
bitsandbytes==0.42.0
chardet==5.2.0
ctransformers==0.2.27
docling==2.14.0
faiss-cpu==1.8.0.post1
fastapi==0.115.5
fastapi-cli==0.0.5
markdown==3.7
nltk==3.9.1
langchain==0.3.22
langchain-community==0.3.20
langchain-core==0.3.49
langchain-huggingface==0.1.2
langchain-openai==0.3.11
langchain-text-splitters==0.3.7
langfuse==2.60.2
litellm==1.59.6
prometheus_client==0.21.1
pydantic==2.11.1
pytest==8.3.2
pytest-asyncio==0.24.0
pytest-mock==3.14.0
python-dotenv==1.0.1
sentence_transformers==3.0.1
torch==2.4.1
transformers==4.43.4
unstructured==0.16.11
uvicorn==0.30.6